{% extends "project/base_site.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}<h3 class="mb-4">{{ title }}</h3>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">
                {% trans 'New password:' %} <strong class="text-danger">*</strong>
            </label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">
                {% trans 'Confirm password:' %} <strong class="text-danger">*</strong>
            </label>
            {{ form.new_password2 }}
        </div>
        <button class="btn btn-primary" type="submit">{% trans 'Change my password' %}</button>
    </fieldset>
</form>

{% else %}

<p>
    {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
</p>

{% endif %}

{% endblock %}
